<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS"
        tools:targetApi="31">
        <activity
            android:name="Shared.SubjectView"
            android:exported="false" />
        <activity
            android:name="Instructor.SingleSubject"
            android:exported="false" />
        <activity
            android:name="Instructor.InstructorDashboard"
            android:exported="false" />
        <activity
            android:name="Instructor.CreateAssignment"
            android:exported="false" />
        <activity
            android:name="Instructor.ListSubjects"
            android:exported="false" />
        <activity
            android:name="Instructor.QueryResponse"
            android:exported="false" />
        <activity
            android:name="Instructor.TeacherDashboard"
            android:exported="false" />
        <activity
            android:name="Instructor.QueryList"
            android:exported="false" />
        <activity
            android:name="Student.Query"
            android:exported="false" />
        <activity
            android:name="Student.ViewAllAnnounc"
            android:exported="false" />
        <activity
            android:name="Student.Fragments.NotificationFragment"
            android:exported="false" />
        <activity
            android:name="Student.Fragments.CourseFragment"
            android:exported="false" />
        <activity
            android:name="Student.Fragments.ProfileFragment"
            android:exported="false" />
        <activity
            android:name="Student.Fragments.homeFragment"
            android:exported="false" />
        <activity
            android:name="Admin.Fee.FineList"
            android:exported="false" />
        <activity
            android:name="Admin.Fee.TrackPayment"
            android:exported="false" />
        <activity
            android:name="Admin.Fee.FeeDashboard"
            android:exported="false" />
        <activity
            android:name="Shared.Attendance.AttendanceDashboard"
            android:exported="false" />
        <activity
            android:name="Shared.Attendance.ViewAttendance"
            android:exported="false" />
        <activity
            android:name="Admin.addStudent"
            android:exported="false" />
        <activity
            android:name="Shared.Attendance.MarkAttendance"
            android:exported="false" />
        <activity
            android:name="Admin.Subjects.SingleSubjectVie"
            android:exported="false" />
        <activity
            android:name="Admin.Subjects.SubjectDashboard"
            android:exported="false" />
        <activity
            android:name="Student.StudentDashboard"
            android:exported="false" />
        <activity
            android:name="Admin.AdminTeacherView"
            android:exported="false" />
        <activity
            android:name="Admin.AdminSingleStudentView"
            android:exported="false" />
        <activity
            android:name="Shared.SharedList"
            android:exported="false" />
        <activity
            android:name="Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name="Admin.admin_select_campus"
            android:exported="false" />
        <activity
            android:name="Shared.shared_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>